.card {
	max-width: 200px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 2em 7em;
	font-family: sans-serif;
}

.card__image {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	z-index: 1;
}

.card__name {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	z-index: 5;
	background: hsla(0, 0%, 0%, .3);
	color: white;
	text-align: center;
	padding: .4em 0;
	font-size: 12px;
	line-height: 2em;
	margin: 0;
}

.card__extra {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	z-index: 6;
}

.card__title {
	display: inline-block;
	margin: .1em;
	background-color: hsl(0, 0%, 80%);
	padding: .3em .5em;
	font-size: 55%;
	border-radius: 3px;
}