.productCard {
	border: 1px solid lightgrey;
	padding: 2em;
	border-radius: 5px;
	margin-bottom: 2em;
}

.primaryPrice {
	font-weight: 700;
	font-size: 130%;
}

.strokedPrice {
	color: grey;
	text-decoration: line-through;
}
